nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    img {
        height: 50px;
        margin: 3px 0 0 5px;
    }

    .main-nav-item {
        display: flex;
        align-items: center;
        margin-right: 30px;
        color: #2c3e50;
    }
    
    p {
        margin: 16px 0 16px 10px;
        font-weight: 700;
        color: #2c3e50;
    }

    .fa-circle-user {
        color: #2c3e50;
    }

    .nav-list {
        display: flex;

        .nav-item {
            display: flex;
            align-items: center;
            margin-right: 15px;
            color: #2c3e50;
        }
    }

    p:hover {
        color: #00bc77;
    }
}